.descricao-quadro {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #ccc;
    width: 80%; /* Agora usa uma largura percentual */
    max-width: 300px; /* E uma largura máxima */
}

#map {
    height: 300px; /* Ajuste conforme necessário */
    width: 100%;
}

img {
    max-width: 100%; /* Ajusta a largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços indesejados abaixo da imagem */
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px; /* Adicione algum espaçamento */
    box-sizing: border-box; /* Certifique-se que o padding não aumenta a largura */
}

.formIndex {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 10px;
    max-width: 100%; /* Largura máxima */
    width: 400px; /* Largura inicial */
    box-sizing: border-box; /* Certifique-se que o padding não aumenta a largura */
}

.album {
    width: 100%; /* Largura total */
    margin: 10px 0; /* Margens superior e inferior */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
}

.album img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    margin-left: 20px;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

#carouselExampleFade {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}
